<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
	<div th:fragment="footerIndexFragment">
		<!-- Optional JavaScript -->
	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
		 <script src="../../static/js/jquery-3.2.1.slim.min.js" th:src="@{/static/js/jquery-3.2.1.slim.min.js}"></script>
	    <script src="../../static/js/popper.min.js" th:src="@{/static/js/popper.min.js}"></script>
	    <script src="../../static/js/bootstrap.min.js" th:src="@{/static/js/bootstrap.min.js}"></script>
	    <script src="../../static/js/bootstrap.min.js" th:src="@{/static/js/myScripts.js}"></script>
	</div>

</body>
</html>