<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
	<div th:fragment="modalAddRifmaWinFragment">
		<!-- Modal -->
		  <div class="modal fade" id="newRifmaModal" role="dialog">
		    <div class="modal-dialog modal-lg">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		      	<form action="#" th:action="@{/rifma/add}" th:object="${rifmaForm}" method="post">
			        <div class="modal-header">
			        	<h5 id="titleModalRifma" class="modal-title">Add rime</h5>
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			        </div>
			        <div class="modal-body">
			        	<input type="hidden" th:field="*{idParentRifma}"></input>
						<input id="inputRifma" type="text" class="form-control" placeholder="Rime" th:field="*{text}" oninput="onChangeRifma(this.value)" autofocus="true"></input>
						<small id="hintRifm" class="smallHint"></small>
			        </div>
			        <div class="modal-footer">
			        	<button id="writeRifm" type="submit" class="btn mainButtonStyle" disabled="true">Rime</button>
			        </div>
			    </form>
			  </div>	
		    </div>
		  </div>
	</div>

</body>
</html>