<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	 
</head>
<body>
	<div th:fragment="navbarFragment" class="sticky-top">
		<nav class="navbar navbar-expand-lg">
			    <a class="navbar-brand" th:href="@{/user}" href="#">
			    	<img th:src="@{/static/img/logo/logo_navbar.png}" width="50" height="50" alt="Rhymester"/>
			    	Rhymester</a>
			    <div class="collapse navbar-collapse" th:if="${principal != null}">
			      <div class="navbar-nav">
			        <img th:src="@{/static/img/icon/avatar.png}" class="nav-item avatar"/>
			        <ul class="list">
			          <li><a class="link-navbar" th:href="@{/user}" href="#"><span th:text="${principal.firstName} + ' ' + ${principal.lastName}"></span></a>&nbsp;<small th:text="'(' + ${principal.login} + ')'"></small></li>
			          <li><small><a href="#" th:href="@{/followers/} + ${principal.login}" th:text="'Followers: ' + ${principal.countFollowers}"></a></small>&nbsp;<small><a href="#" th:href="@{/following/} + ${principal.login}" th:text="'Following: ' + ${principal.countFollowing}"></a></small></li>
			        </ul>
			      </div>
			    </div>
		      	<form class="form-inline mr-sm-5" th:action="@{/search}" method="get">
	    			<input class="form-control mr-sm-2" type="text" id="search" name="search" placeholder="Search"></input>
	    			<button class="btn mainButtonStyle" type="submit">Search</button>
    			</form>
		    	<form th:action="@{/appLogout}" method="post"><button type="submit" class="btn mainButtonStyle" id="login">Exit</button> </form>
    	</nav>
	</div>
</body>
</html>